header{
    position: relative;
    background-color: #673ab7;
}

#logo-liga{
    position: absolute;
    left: 10px;
    height: 75px;
}

#nombre-liga{
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#joranada-actual{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    clear: both;
}

.equipo{
    margin: 5px;
}

.equipo-estadio{
    color: #673ab7;
}

.competicion-logo{
    height: 100px;
}

.body{

}

.header{
    background-color: #673ab7;
    margin: 200px;
    position: absolute;
    text-align: center;
}

.fundacion{
    background-color: #673ab7;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.equipo-nombre{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    padding: 10px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.equipo-imagen{
    height: 120px;
}

.equipo-estadio{
    border-top: 2px solid #673ab7;
    border-bottom: 2px solid #673ab7;
    padding:10px;
    color: #673ab7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
}

.equipo-competiciones{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

.competiciones-logo{
    height: 70px;
    padding: 10px;
    color: #673ab7;
    margin: 5px;
}

.equipo-boton{
    border: none;
    cursor: pointer;
    margin: 5px;
    padding: 3px;
    color: white;
    background-color: #673ab7;
    text-align: center;
    font-weight: bold;
}

